{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended"
    ],
    "plugins": ["react"],
    "rules": {
      "prettier/prettier": "error"
    }
  }
  